
.Log-cont {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;            
    flex-direction: column;  
}
body {
    background-image: url("im.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}



form {
    background-color: rgb(39, 36, 36);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(218, 3, 3, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: DodgerBlue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: royalblue;
}
